{{- $name := include "chorus-ci.name" . -}}
{{- $fullName := include "chorus-ci.fullname" . -}}
---
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: {{ $fullName }}-github-notify-template
  labels:
    {{- include "chorus-ci.labels" . | nindent 4 }}
spec:
  arguments:
    parameters:
      - name: repoFullName
      - name: sha
      - name: githubSecret

  templates:
  - name: github-notify
    inputs:
      parameters:
        - name: repoFullName
        - name: sha
        - name: githubSecret

    volumes:
      - name: github-secret
        secret:
          secretName: "{{`{{inputs.parameters.githubSecret}}`}}"

    container:
      image: "ghcr.io/supportpal/github-gh-cli"
      command: [sh, -e, -c]
      volumeMounts:
        - name: github-secret
          mountPath: /secret/github
      args:
        - >-
          labels='{{`{{workflow.labels.json}}`}}';
          if echo "$labels" | grep -q '"workflows.argoproj.io/action":"Stop"'; then
            shutdown="Stop"
          elif echo "$labels" | grep -q '"workflows.argoproj.io/action":"Terminate"'; then
            shutdown="Terminate"
          else
            shutdown=""
          fi;

          case "{{`{{workflow.status}}`}}" in
            "Running")
            state=pending
            verb=is
            status_desc="running"
            ;;
            "Succeeded")
            state=success
            verb=has
            status_desc="succeeded"
            ;;
            "Failed")
              case "$shutdown" in
                "Stop")
                state=error
                verb=was
                status_desc="stopped"
                ;;
                "Terminate")
                state=error
                verb=was
                status_desc="terminated"
                ;;
                *)
                state=failure
                verb=has
                status_desc="failed"
                ;;
              esac;
            ;;
            *)
            state=error
            verb="got unexpected"
            status_desc="error"
            ;;
          esac;
          echo $state;
          gh auth login --with-token < /secret/github/password;
          gh api --method POST
          /repos/{{`{{inputs.parameters.repoFullName}}`}}/statuses/{{`{{inputs.parameters.sha}}`}}
          -f "state=$state"
          -f "description={{`{{workflow.mainEntrypoint}}`}} $verb $status_desc"
          -f "target_url=https://argo-workflows.build.192.168.120.181.nip.io/workflows/{{`{{workflow.namespace}}`}}/{{`{{workflow.name}}`}}"
          -f "context={{ $name }}"
